cryptography==38.0.1
hydralit_components==1.0.10
PyMySQL==1.0.2
SQLAlchemy==1.4.42
networkx==2.8.7
matplotlib==3.6.1
scipy==1.9.3
pyvis==0.3.0
streamlit-aggrid==0.3.3
plotly==5.10.0
extra-streamlit-components==0.1.56